body {
  background-color: black;
  color: aqua;
}

#cTheme{
  display: none;
}

#c {
  background-color: black;
  color: tomato;
  display: none;

}

#html {
  display: none;
}

#python {
  display: none;
}

#savage {
  display: none;
}