#shadow {
  font-style: ;
  text-shadow: 4px 4px 7px aqua, 5px 5px 8px red;
}
img {
  max-height: 500px;
}
body {
  background: black;
  color: aqua;
}
#sleep {
  font-weight: bolder;
  width: 150px;
  height: 40px;
  padding: 5px;
  background-color: orange;
}
#transport {
  font-weight: bolder;
  width: 150px;
  height: 40px;
  padding: 5px;
  background-color: orange;
}
#career {
  font-weight: bolder;
  width: 150px;
  height: 40pxx;
  padding: 5px;
  background-color: orange;
}
#music {
  font-weight: bolder;
  width: 150px;
  height: 40px;
  padding: 5px;
  background-color: orange;
}
#game {
  font-weight: bolder;
  width: 150px;
  height: 40px;
  padding: 5px;
  background-color: orange;
}
#press {
  padding: 5px;
  font-weight: bolder;
  font-weight: bolder;
  color: rgb(52, 31, 71);
  background-color: rgb(161, 57, 19);
  border: orchid;
  border-style: groove;
  margin: 5px;
  
}
#cTheme{
  padding-left: 200px;
  display: none;
}
#hTheme{
  padding-left: 200px;
  display: none;
}
#pTheme{
  padding-left: 200px;
  display: none;
}
#sTheme{
  padding-left: 200px;
  display: none;
}
#c {
  background: black;
  color: tomato;
  display: none;
}
#html {
  color: blueviolet;
  display: none;
}
#python {
  color: green;
  display: none;
}
#savage {
  display: none;
}